html {
  background: url(Cat.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.courier { font-family: Courier;
            font-weight: bold;
              }
